:root {
  --accent-color: #aa2434;
  --accent-color-light: #ff5959;
  --text-primary: #252525;
  --text-secondary: #888888;
  --background: #EEEEEE;
  --background-secondary: #EAEAEA;
  --border: #999999;

  --title-font: Unna, serif;
  --text-font: 'Open Sans', serif;

  --text-size-scaler: 4vw;

  --text-size-s: 0.8rem;
  --text-size-n: 1rem;
  --text-size-l: 1.2rem;
  --text-size-xl: 1.8rem;
  --text-size-xxl: 2.5rem;

  --line-height-scalar: 2;

  --space-base: 1rem;

  --space-page-width: calc(var(--space-base) * 52);
  --space-page-vertical: calc(var(--space-base) * 4);

  --space-content-vertical: calc(var(--space-base) * 2);

  --space-xxxs: calc(var(--space-base) * 0.1);
  --space-xxs: calc(var(--space-base) * 0.33);
  --space-xs: calc(var(--space-base) * 0.5);
  --space-s: calc(var(--space-base) * 0.8);
  --space-n: var(--space-base);
  --space-l: calc(var(--space-base) * 1.5);
  --space-xl: calc(var(--space-base) * 3);
  --space-xxl: calc(var(--space-base) * 4);
  --space-xxxl: calc(var(--space-base) * 6);
}

body {
  line-height: var(--text-size-xl);
  font-family: var(--text-font);
  color: var(--text-primary);
  background: var(--background);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color-light);
}

/* markdown content styles */
blockquote {
  padding-left: var(--space-n);
  margin-left: 0;
  border-left: 3px solid var(--text-secondary);
  color: var(--text-secondary);
}

table {
  width: 100%;
  margin: var(--space-content-vertical) 0;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  vertical-align: top;
}

table td, td {
  border-style: solid;
  padding: var(--space-s) var(--space-n);
  border-width: 1px 0 0 0;
}

thead th, th {
  text-align: left;
  padding: var(--space-s) var(--space-n);
  font-size: var(--text-size-l);
  line-height: calc(var(--text-size-l) * var(--line-height-scalar));
  font-weight: 800;
  color: var(--text-secondary);
  cursor: default;
  white-space: nowrap;
  border: 1px solid var(--border);
}

@media (max-width: 700px) {
  table td, td {
    padding: var(--space-xs) var(--space-s);
  }

  thead th, th {
    padding: var(--space-xs) var(--space-s);
  }
}

tr>td {
  border: 1px solid var(--border);
}

tr:nth-child(odd)>td {
  background: var(--background-secondary);
}

h1,
h2,
h3 {
  font-weight: 400;
  margin-top: calc(var(--space-content-vertical) * 1.5);
}

p {
  margin: calc(var(--space-content-vertical) * 0.8) 0;

  font-size: var(--text-size-n);
  line-height: calc(var(--text-size-n) * var(--line-height-scalar));
}

p,
pre {
  word-break: normal;
  overflow-wrap: anywhere;
}

.markdown-image img {
  max-width: 100%;
}

.anchor {
  font-size: 100%;
  visibility: hidden;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible
}

.highlight pre {
  padding: var(--space-s);
  overflow-x: auto;
}

.highlight {
  max-width: 100%;
  overflow-x: auto;
}

p code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: inherit;
  background-color: var(--background-secondary);
  padding: 0 var(--space-xxxs);
  border: 1px solid var(--border);
  border-radius: 2px 2px;
  line-height: inherit;
  word-wrap: break-word;
  text-indent: 0;
}

pre code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

/* navigation */

nav.navigation {
  padding: var(--space-l) var(--space-l) 0;
  background: var(--background);
  text-align: right;
}

nav.navigation a {
  padding: var(--space-s) var(--space-n);
  color: var(--accent-color-light);
  fill: var(--accent-color-light);
  font-size: var(--text-size-l);
  line-height: calc(var(--text-size-l) * var(--line-height-scalar));
  border-radius: 3px;
}

nav.navigation a:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

nav.navigation a svg {
  margin-left: var(--space-n);
  width: calc(var(--text-size-l) * 0.7);
}

@media (max-width: 700px) {
  nav.navigation {
    padding: var(--space-s) var(--space-xxxs) 0;
    margin: 0 auto;
  }

  nav.navigation a {
    padding: var(--space-xs) var(--space-xxs);
  }
}

/* footer */
#footer {
  margin: calc(var(--space-page-vertical) * 2) 0 var(--space-page-vertical) 0;
  text-align: center;
  color: var(--text-secondary);
  font-size: var(--text-size-s);
  line-height: calc(var(--text-size-s) * var(--line-height-scalar));
}

#footer .copyright {
  margin: calc(var(--space-page-vertical) * 0.3) auto;
}

#footer .split {
  cursor: pointer;
}

#footer .split:hover path {
  fill: var(--accent-color);
  transition: 0.7s ease-out;
  cursor: pointer;
}

#social a {
  margin: 0 var(--space-xxs);
}

/* main content */
.main {
  width: 100%;
  margin: 0 auto;
}

/* profile  */

#profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: var(--space-page-width);
  margin: var(--space-page-vertical) auto 0 auto;
}

#profile #avatar {
  margin-top: calc(var(--text-size-xl) * 0.3);
  margin-right: var(--space-l);
}

#profile #avatar img {
  width: clamp(calc(var(--text-size-xl) * 3), 8vw, calc(var(--text-size-xxl) * 4));
}

#profile #description {
  flex: 1 1;
  align-items: center;
  justify-content: center;
}

#profile #description h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(var(--text-size-xl), 8vw, var(--text-size-xxl));
  line-height: clamp(var(--text-size-xxl), 8vw, var(--text-size-xxl));
  color: var(--text-primary);
  white-space: nowrap;
}

#profile #description h2 {
  margin-top: 0;
  font-size: clamp(var(--text-size-n), 4vw, var(--text-size-l));
  line-height: clamp(var(--text-size-l), 6vw, var(--text-size-xl));
  font-weight: 300;
  color: var(--text-secondary);
}

/* global classes */

.title {
  font-family: var(--title-font);
}

/* tages, shown on index page, article */

.tags {}

.tags a {
  background: var(--background-secondary);
  border: 1px solid var(--border);
  padding: var(--space-xxxs) var(--space-xxs);
  margin-right: var(--space-xxs);
  color: var(--text-secondary);
  font-size: var(--text-size-s);
  line-height: calc(var(--text-size-s) * var(--line-height-scalar));
}

.tags a:hover {
  color: var(--accent-color-light);
}

/* index article list */
#article-list {
  max-width: var(--space-page-width);
  margin: var(--space-page-vertical) auto 0 auto;
}

#article-list .item {
  margin: calc(var(--space-page-vertical) * 0.5) 0;
}

#article-list .title {
  display: inline-block;
  color: var(--border);
  font-size: var(--text-size-xl);
  line-height: calc(var(--text-size-xl) * var(--line-height-scalar));
  font-weight: 400;
  margin: 0;
}

#article-list .title a {
  color: #404040;
  display: block;
}

#article-list .title a:hover {
  color: var(--accent-color);
}

#article-list .summary {
  color: var(--text-secondary);
  word-break: normal;
  overflow-wrap: anywhere;
  margin: calc(var(--space-page-vertical) * 0.1) 0 calc(var(--space-page-vertical) * 0.8) 0;
}

#article-list hr {
  display: block;
  border: none;
  height: 1px;
  margin: calc(var(--space-page-vertical) * 0.3) auto;
  background: var(--border);
}

#article-list .pagination {
  margin: calc(var(--space-page-vertical) * 0.3) 0;
  width: 100%;
  height: 32px;
}

#article-list .pagination .pre {
  float: left;
}

#article-list .pagination .next {
  float: right;
}

/* article page */
#article {
  max-width: var(--space-page-width);
  margin: var(--space-page-vertical) auto 0 auto;
}

#article .title {
  font-size: var(--text-size-xxl);
  line-height: calc(var(--text-size-xxl) * var(--line-height-scalar));
  font-weight: 800;
  margin: 0;
}

#article .meta {
  color: var(--border);
  font-size: var(--text-size-n);
  line-height: calc(var(--text-size-n) * var(--line-height-scalar));
}

#article .meta .separator {
  margin: 0 var(--space-xxs);
}

#article .content {
  margin-top: var(--space-page-vertical);
}

/* article page */
#archive {
  max-width: var(--space-page-width);
  margin: var(--space-page-vertical) auto 0 auto;
}

#archive .group {
  margin: var(--space-page-vertical) auto;
}

#archive .group .key {
  font-size: var(--text-size-l);
  line-height: calc(var(--text-size-l) * var(--line-height-scalar));
  margin-bottom: calc(var(--space-page-vertical) * 0.1);
}

#archive .group .value {
  display: block;
  font-size: var(--text-size-l);
  line-height: calc(var(--text-size-l) * var(--line-height-scalar));
  margin-bottom: calc(var(--space-page-vertical) * 0.1);
}

#archive .group .value .date {
  display: inline-block;
  color: var(--text-secondary);
  min-width: var(--space-xxxl);
}

#archive .group .value .title {
  display: inline;
}

#archive .group .value .title a {
  color: var(--text-primary);
}

#archive .group .value .title a:hover {
  color: var(--accent-color-light);
}

#archive .group .value .tags {
  display: inline;
  margin-left: calc(var(--space-page-vertical) * 0.1);
}

/* taxonomy */
#tags-list {
  max-width: var(--space-page-width);
  margin: var(--space-page-vertical) auto 0 auto;
  text-align: center;
  text-wrap: none;
}

#tags-list .tag {
  display: inline-block;
  margin-top: calc(var(--space-page-vertical) * 0.2);
}

/* section page */
#about {
  max-width: var(--space-page-width);
  margin: var(--space-page-vertical) auto calc(var(--space-page-vertical) * 2) auto;
}

/* 404 page */
#page-404 {
  max-width: var(--space-page-width);
  margin: var(--space-page-vertical) auto calc(var(--space-page-vertical) * 2) auto;
}

#page-404 .item {
  margin: calc(var(--space-page-vertical) * 0.3) 0 0 0;
}

#page-404 .title {
  display: inline-block;
  color: var(--text-secondary);
  font-size: var(--text-size-xl);
  line-height: calc(var(--text-size-xl) * var(--line-height-scalar));
  font-weight: 400;
  margin: 0;
}

#page-404 .text {
  text-align: center;
  margin-top: calc(var(--space-page-vertical) * 2);
  font-size: var(--text-size-l);
  font-family: var(--title-font);
  color: var(--text-primary);
}

#page-404 .read-more {
  font-weight: 300;
  font-size: var(--text-size-l);
  line-height: calc(var(--text-size-l) * var(--line-height-scalar));
  color: var(--text-secondary);
  margin-top: calc(var(--space-page-vertical) * 1.5);
  margin-bottom: calc(var(--space-page-vertical) * 0.5);
}

#page-404 .date {
  float: right;
  text-align: right;
  position: relative;
  color: var(--text-secondary);
}
