:root {
  --accent-color: #8e24aa;
  --accent-color-light: #ab47bc;
  --text-primary: #252525;
  --text-secondary: #5a5a5a;
  --background: #f5f5ea;
  --background-secondary: #fbf9fb;
  --border: #dcd2dc;

  --title-font: 'Poltawski Nowy', serif;
  --text-font: 'Poppins', sans-serif;
  --code-font: 'Fira Code', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  --line-height-scalar: 1.8;

  --space-page-width: calc(var(--space-base) * 44);
}

html[data-theme-effective="light"] {
  --accent-color: #8e24aa;
  --accent-color-light: #ab47bc;
  --text-primary: #252525;
  --text-secondary: #5a5a5a;
  --background: #f5f5ea;
  --background-secondary: #fbf9fb;
  --border: #dcd2dc;
}

/* Background */ html[data-theme-effective="light"] .bg { color: #272822; background-color: var(--background-secondary); }
/* PreWrapper */ html[data-theme-effective="light"] .chroma { color: #272822; background-color: var(--background-secondary); }
/* Other */ html[data-theme-effective="light"] .chroma .x {  }
/* Error */ html[data-theme-effective="light"] .chroma .err { color: #960050; background-color: #1e0010 }
/* CodeLine */ html[data-theme-effective="light"] .chroma .cl {  }
/* LineLink */ html[data-theme-effective="light"] .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ html[data-theme-effective="light"] .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ html[data-theme-effective="light"] .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ html[data-theme-effective="light"] .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ html[data-theme-effective="light"] .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ html[data-theme-effective="light"] .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ html[data-theme-effective="light"] .chroma .line { display: flex; }
/* Keyword */ html[data-theme-effective="light"] .chroma .k { color: #00a8c8 }
/* KeywordConstant */ html[data-theme-effective="light"] .chroma .kc { color: #00a8c8 }
/* KeywordDeclaration */ html[data-theme-effective="light"] .chroma .kd { color: #00a8c8 }
/* KeywordNamespace */ html[data-theme-effective="light"] .chroma .kn { color: #f92672 }
/* KeywordPseudo */ html[data-theme-effective="light"] .chroma .kp { color: #00a8c8 }
/* KeywordReserved */ html[data-theme-effective="light"] .chroma .kr { color: #00a8c8 }
/* KeywordType */ html[data-theme-effective="light"] .chroma .kt { color: #00a8c8 }
/* Name */ html[data-theme-effective="light"] .chroma .n { color: #111111 }
/* NameAttribute */ html[data-theme-effective="light"] .chroma .na { color: #75af00 }
/* NameBuiltin */ html[data-theme-effective="light"] .chroma .nb { color: #111111 }
/* NameBuiltinPseudo */ html[data-theme-effective="light"] .chroma .bp { color: #111111 }
/* NameClass */ html[data-theme-effective="light"] .chroma .nc { color: #75af00 }
/* NameConstant */ html[data-theme-effective="light"] .chroma .no { color: #00a8c8 }
/* NameDecorator */ html[data-theme-effective="light"] .chroma .nd { color: #75af00 }
/* NameEntity */ html[data-theme-effective="light"] .chroma .ni { color: #111111 }
/* NameException */ html[data-theme-effective="light"] .chroma .ne { color: #75af00 }
/* NameFunction */ html[data-theme-effective="light"] .chroma .nf { color: #75af00 }
/* NameFunctionMagic */ html[data-theme-effective="light"] .chroma .fm { color: #111111 }
/* NameLabel */ html[data-theme-effective="light"] .chroma .nl { color: #111111 }
/* NameNamespace */ html[data-theme-effective="light"] .chroma .nn { color: #111111 }
/* NameOther */ html[data-theme-effective="light"] .chroma .nx { color: #75af00 }
/* NameProperty */ html[data-theme-effective="light"] .chroma .py { color: #111111 }
/* NameTag */ html[data-theme-effective="light"] .chroma .nt { color: #f92672 }
/* NameVariable */ html[data-theme-effective="light"] .chroma .nv { color: #111111 }
/* NameVariableClass */ html[data-theme-effective="light"] .chroma .vc { color: #111111 }
/* NameVariableGlobal */ html[data-theme-effective="light"] .chroma .vg { color: #111111 }
/* NameVariableInstance */ html[data-theme-effective="light"] .chroma .vi { color: #111111 }
/* NameVariableMagic */ html[data-theme-effective="light"] .chroma .vm { color: #111111 }
/* Literal */ html[data-theme-effective="light"] .chroma .l { color: #ae81ff }
/* LiteralDate */ html[data-theme-effective="light"] .chroma .ld { color: #d88200 }
/* LiteralString */ html[data-theme-effective="light"] .chroma .s { color: #d88200 }
/* LiteralStringAffix */ html[data-theme-effective="light"] .chroma .sa { color: #d88200 }
/* LiteralStringBacktick */ html[data-theme-effective="light"] .chroma .sb { color: #d88200 }
/* LiteralStringChar */ html[data-theme-effective="light"] .chroma .sc { color: #d88200 }
/* LiteralStringDelimiter */ html[data-theme-effective="light"] .chroma .dl { color: #d88200 }
/* LiteralStringDoc */ html[data-theme-effective="light"] .chroma .sd { color: #d88200 }
/* LiteralStringDouble */ html[data-theme-effective="light"] .chroma .s2 { color: #d88200 }
/* LiteralStringEscape */ html[data-theme-effective="light"] .chroma .se { color: #8045ff }
/* LiteralStringHeredoc */ html[data-theme-effective="light"] .chroma .sh { color: #d88200 }
/* LiteralStringInterpol */ html[data-theme-effective="light"] .chroma .si { color: #d88200 }
/* LiteralStringOther */ html[data-theme-effective="light"] .chroma .sx { color: #d88200 }
/* LiteralStringRegex */ html[data-theme-effective="light"] .chroma .sr { color: #d88200 }
/* LiteralStringSingle */ html[data-theme-effective="light"] .chroma .s1 { color: #d88200 }
/* LiteralStringSymbol */ html[data-theme-effective="light"] .chroma .ss { color: #d88200 }
/* LiteralNumber */ html[data-theme-effective="light"] .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ html[data-theme-effective="light"] .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ html[data-theme-effective="light"] .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ html[data-theme-effective="light"] .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ html[data-theme-effective="light"] .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ html[data-theme-effective="light"] .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ html[data-theme-effective="light"] .chroma .mo { color: #ae81ff }
/* Operator */ html[data-theme-effective="light"] .chroma .o { color: #f92672 }
/* OperatorWord */ html[data-theme-effective="light"] .chroma .ow { color: #f92672 }
/* Punctuation */ html[data-theme-effective="light"] .chroma .p { color: #111111 }
/* Comment */ html[data-theme-effective="light"] .chroma .c { color: #75715e }
/* CommentHashbang */ html[data-theme-effective="light"] .chroma .ch { color: #75715e }
/* CommentMultiline */ html[data-theme-effective="light"] .chroma .cm { color: #75715e }
/* CommentSingle */ html[data-theme-effective="light"] .chroma .c1 { color: #75715e }
/* CommentSpecial */ html[data-theme-effective="light"] .chroma .cs { color: #75715e }
/* CommentPreproc */ html[data-theme-effective="light"] .chroma .cp { color: #75715e }
/* CommentPreprocFile */ html[data-theme-effective="light"] .chroma .cpf { color: #75715e }
/* Generic */ html[data-theme-effective="light"] .chroma .g {  }
/* GenericDeleted */ html[data-theme-effective="light"] .chroma .gd {  }
/* GenericEmph */ html[data-theme-effective="light"] .chroma .ge { font-style: italic }
/* GenericError */ html[data-theme-effective="light"] .chroma .gr {  }
/* GenericHeading */ html[data-theme-effective="light"] .chroma .gh {  }
/* GenericInserted */ html[data-theme-effective="light"] .chroma .gi {  }
/* GenericOutput */ html[data-theme-effective="light"] .chroma .go {  }
/* GenericPrompt */ html[data-theme-effective="light"] .chroma .gp {  }
/* GenericStrong */ html[data-theme-effective="light"] .chroma .gs { font-weight: bold }
/* GenericSubheading */ html[data-theme-effective="light"] .chroma .gu {  }
/* GenericTraceback */ html[data-theme-effective="light"] .chroma .gt {  }
/* GenericUnderline */ html[data-theme-effective="light"] .chroma .gl {  }
/* TextWhitespace */ html[data-theme-effective="light"] .chroma .w {  }

html[data-theme-effective="dark"] {
  --accent-color: #FFD166;
  --accent-color-light: #fdd47b;
  --text-primary: #f8f9fa;
  --text-secondary: #dee2e6;
  --background: #1c1b22;
  --background-secondary: #1f1e27;
  --border: #292931;
}

/* Background */ html[data-theme-effective="dark"] .bg { color: #f8f8f2; background-color: var(--background-secondary); }
/* PreWrapper */ html[data-theme-effective="dark"] .chroma { color: #f8f8f2; background-color: var(--background-secondary); }
/* Other */ html[data-theme-effective="dark"] .chroma .x {  }
/* Error */ html[data-theme-effective="dark"] .chroma .err {  }
/* CodeLine */ html[data-theme-effective="dark"] .chroma .cl {  }
/* LineLink */ html[data-theme-effective="dark"] .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ html[data-theme-effective="dark"] .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ html[data-theme-effective="dark"] .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ html[data-theme-effective="dark"] .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ html[data-theme-effective="dark"] .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ html[data-theme-effective="dark"] .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ html[data-theme-effective="dark"] .chroma .line { display: flex; }
/* Keyword */ html[data-theme-effective="dark"] .chroma .k { color: #ff79c6 }
/* KeywordConstant */ html[data-theme-effective="dark"] .chroma .kc { color: #ff79c6 }
/* KeywordDeclaration */ html[data-theme-effective="dark"] .chroma .kd { color: #8be9fd; font-style: italic }
/* KeywordNamespace */ html[data-theme-effective="dark"] .chroma .kn { color: #ff79c6 }
/* KeywordPseudo */ html[data-theme-effective="dark"] .chroma .kp { color: #ff79c6 }
/* KeywordReserved */ html[data-theme-effective="dark"] .chroma .kr { color: #ff79c6 }
/* KeywordType */ html[data-theme-effective="dark"] .chroma .kt { color: #8be9fd }
/* Name */ html[data-theme-effective="dark"] .chroma .n {  }
/* NameAttribute */ html[data-theme-effective="dark"] .chroma .na { color: #50fa7b }
/* NameBuiltin */ html[data-theme-effective="dark"] .chroma .nb { color: #8be9fd; font-style: italic }
/* NameBuiltinPseudo */ html[data-theme-effective="dark"] .chroma .bp {  }
/* NameClass */ html[data-theme-effective="dark"] .chroma .nc { color: #50fa7b }
/* NameConstant */ html[data-theme-effective="dark"] .chroma .no {  }
/* NameDecorator */ html[data-theme-effective="dark"] .chroma .nd {  }
/* NameEntity */ html[data-theme-effective="dark"] .chroma .ni {  }
/* NameException */ html[data-theme-effective="dark"] .chroma .ne {  }
/* NameFunction */ html[data-theme-effective="dark"] .chroma .nf { color: #50fa7b }
/* NameFunctionMagic */ html[data-theme-effective="dark"] .chroma .fm {  }
/* NameLabel */ html[data-theme-effective="dark"] .chroma .nl { color: #8be9fd; font-style: italic }
/* NameNamespace */ html[data-theme-effective="dark"] .chroma .nn {  }
/* NameOther */ html[data-theme-effective="dark"] .chroma .nx {  }
/* NameProperty */ html[data-theme-effective="dark"] .chroma .py {  }
/* NameTag */ html[data-theme-effective="dark"] .chroma .nt { color: #ff79c6 }
/* NameVariable */ html[data-theme-effective="dark"] .chroma .nv { color: #8be9fd; font-style: italic }
/* NameVariableClass */ html[data-theme-effective="dark"] .chroma .vc { color: #8be9fd; font-style: italic }
/* NameVariableGlobal */ html[data-theme-effective="dark"] .chroma .vg { color: #8be9fd; font-style: italic }
/* NameVariableInstance */ html[data-theme-effective="dark"] .chroma .vi { color: #8be9fd; font-style: italic }
/* NameVariableMagic */ html[data-theme-effective="dark"] .chroma .vm {  }
/* Literal */ html[data-theme-effective="dark"] .chroma .l {  }
/* LiteralDate */ html[data-theme-effective="dark"] .chroma .ld {  }
/* LiteralString */ html[data-theme-effective="dark"] .chroma .s { color: #f1fa8c }
/* LiteralStringAffix */ html[data-theme-effective="dark"] .chroma .sa { color: #f1fa8c }
/* LiteralStringBacktick */ html[data-theme-effective="dark"] .chroma .sb { color: #f1fa8c }
/* LiteralStringChar */ html[data-theme-effective="dark"] .chroma .sc { color: #f1fa8c }
/* LiteralStringDelimiter */ html[data-theme-effective="dark"] .chroma .dl { color: #f1fa8c }
/* LiteralStringDoc */ html[data-theme-effective="dark"] .chroma .sd { color: #f1fa8c }
/* LiteralStringDouble */ html[data-theme-effective="dark"] .chroma .s2 { color: #f1fa8c }
/* LiteralStringEscape */ html[data-theme-effective="dark"] .chroma .se { color: #f1fa8c }
/* LiteralStringHeredoc */ html[data-theme-effective="dark"] .chroma .sh { color: #f1fa8c }
/* LiteralStringInterpol */ html[data-theme-effective="dark"] .chroma .si { color: #f1fa8c }
/* LiteralStringOther */ html[data-theme-effective="dark"] .chroma .sx { color: #f1fa8c }
/* LiteralStringRegex */ html[data-theme-effective="dark"] .chroma .sr { color: #f1fa8c }
/* LiteralStringSingle */ html[data-theme-effective="dark"] .chroma .s1 { color: #f1fa8c }
/* LiteralStringSymbol */ html[data-theme-effective="dark"] .chroma .ss { color: #f1fa8c }
/* LiteralNumber */ html[data-theme-effective="dark"] .chroma .m { color: #bd93f9 }
/* LiteralNumberBin */ html[data-theme-effective="dark"] .chroma .mb { color: #bd93f9 }
/* LiteralNumberFloat */ html[data-theme-effective="dark"] .chroma .mf { color: #bd93f9 }
/* LiteralNumberHex */ html[data-theme-effective="dark"] .chroma .mh { color: #bd93f9 }
/* LiteralNumberInteger */ html[data-theme-effective="dark"] .chroma .mi { color: #bd93f9 }
/* LiteralNumberIntegerLong */ html[data-theme-effective="dark"] .chroma .il { color: #bd93f9 }
/* LiteralNumberOct */ html[data-theme-effective="dark"] .chroma .mo { color: #bd93f9 }
/* Operator */ html[data-theme-effective="dark"] .chroma .o { color: #ff79c6 }
/* OperatorWord */ html[data-theme-effective="dark"] .chroma .ow { color: #ff79c6 }
/* Punctuation */ html[data-theme-effective="dark"] .chroma .p {  }
/* Comment */ html[data-theme-effective="dark"] .chroma .c { color: #6272a4 }
/* CommentHashbang */ html[data-theme-effective="dark"] .chroma .ch { color: #6272a4 }
/* CommentMultiline */ html[data-theme-effective="dark"] .chroma .cm { color: #6272a4 }
/* CommentSingle */ html[data-theme-effective="dark"] .chroma .c1 { color: #6272a4 }
/* CommentSpecial */ html[data-theme-effective="dark"] .chroma .cs { color: #6272a4 }
/* CommentPreproc */ html[data-theme-effective="dark"] .chroma .cp { color: #ff79c6 }
/* CommentPreprocFile */ html[data-theme-effective="dark"] .chroma .cpf { color: #ff79c6 }
/* Generic */ html[data-theme-effective="dark"] .chroma .g {  }
/* GenericDeleted */ html[data-theme-effective="dark"] .chroma .gd { color: #ff5555 }
/* GenericEmph */ html[data-theme-effective="dark"] .chroma .ge { text-decoration: underline }
/* GenericError */ html[data-theme-effective="dark"] .chroma .gr {  }
/* GenericHeading */ html[data-theme-effective="dark"] .chroma .gh { font-weight: bold }
/* GenericInserted */ html[data-theme-effective="dark"] .chroma .gi { color: #50fa7b; font-weight: bold }
/* GenericOutput */ html[data-theme-effective="dark"] .chroma .go { color: #44475a }
/* GenericPrompt */ html[data-theme-effective="dark"] .chroma .gp {  }
/* GenericStrong */ html[data-theme-effective="dark"] .chroma .gs {  }
/* GenericSubheading */ html[data-theme-effective="dark"] .chroma .gu { font-weight: bold }
/* GenericTraceback */ html[data-theme-effective="dark"] .chroma .gt {  }
/* GenericUnderline */ html[data-theme-effective="dark"] .chroma .gl { text-decoration: underline }
/* TextWhitespace */ html[data-theme-effective="dark"] .chroma .w {  }
